# Secrets e configurazioni sensibili
infra/k8s/redis-secret.yaml

# Dotenv files
*.env

# Node.js
node_modules/
dist/

# Logs
logs/
*.log

# Docker
*.local
docker-compose.override.yml/order_service/.git
/order_service_db/.git
/redisAPI_service/.git
/ticket_service/.git
/ticket_service_db/.git
/ticketwave_frontend/.git
/user_service/.git
/user_service_db/.git
